@import 'normalize';
@import './variables';

html,
html::before,
html::after {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-weight: normal;
  font-size: 16px;
  color: #333333;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.task__heading {
  margin: 0;
  padding: 50px 0;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.task__title {
  margin: 0;
  padding: 30px 0 120px 0;
  font-weight: normal;
  font-size: 40px;
  color: black;
  text-align: center;
}

.task__title-item {
  &--wrong {
    background-color: yellow;
  }
}

.task__title-sum {
  width: 55px;
  margin-left: -7px;
  font-family: inherit;
  color: black;
  background-color: transparent;
  border: 1px solid #bcbcbc;
  text-align: center;

  &--wrong {
    color: red;
  }

  &--disabled {
    border: none;
  }
}

.app-wrapper {
  width: 875px;
  margin: 0 auto;
}

.axis-wrapper {
  padding: 20px 30px 60px 30px;
  background-color: #fbf2cf;
}

.axis {
  position: relative;
  height: 2px;
  background-color: #7f7d6e;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 12px;
    height: 2px;
    background-color: #7f7d6e;
    transform-origin: right center;
  }

  &::before {
    transform: translateY(-50%) rotate(45deg);
  }

  &::after {
    transform: translateY(-50%) rotate(-45deg);
  }
}

.axis__dash {
  position: absolute;
  top: 50%;
  width: 1px;
  height: 18px;
  background-color: black;
  transform: translateY(-50%);

  &--bold {
    width: 3px;
    height: 22px;
  }
}

.axis__number {
  position: absolute;
  left: 50%;
  bottom: -32px;
  transform: translateX(-50%);

  &--bold {
    font-weight: bold;
    font-size: 21px;
  }
}

.axis__arcs-wrapper {
  position: absolute;
  visibility: hidden;

  &--active {
    visibility: visible;
  }
}

.axis__arcs {
  display: block;
  border-radius: 50%;
  transform: rotate(-150deg);

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 10px;
    height: 2px;
  }
}

.axis__arc {
  &--second {
    stroke: red;
    transition: stroke-dasharray $animation-time;
  }
}

.axis__input {
  position: absolute;
  bottom: 102%;
  left: 50%;
  width: 30px;
  padding: 3px;
  font-size: 16px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #bcbcbc;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 0.3s;

  &--active {
    visibility: visible;
    opacity: 1;
  }

  &--wrong {
    color: red;
  }

  &--disabled {
    border: none;
    background: transparent;
  }
}

.axis__arc-arrow {
  position: absolute;
  width: 0;
  height: 0;
  background-color: rgba(black, 0.5);
  transition: transform $animation-time;

  &--animate {
    transform: rotate(117deg);
  }

  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 3px solid transparent;
    border-bottom: 10px solid red;
    transform-origin: center bottom;
    transform: translateY(-100%) rotate(30deg);
  }
}

@media screen and (max-width: 900px) {
  body {
    font-size: 15px;
  }

  .app-wrapper {
    width: 540px;
  }

  .axis__dash {
    height: 10px;
  
    &--bold {
      height: 15px;
    }
  }

  .axis__number {
    &--bold {
      font-size: 20px;
    }
  }

  .axis__arc-arrow {
    &--animate {
      transform: rotate(115deg);
    }
  }
}

@media screen and (max-width: 550px) {
  body {
    font-size: 10px;
  }

  .app-wrapper {
    width: 340px;
  }

  .axis-wrapper {
    padding-bottom: 40px;
  }

  .axis {
    &::before,
    &::after {
      width: 8px;
      height: 2px;
    }
  }

  .axis__dash {
    height: 6px;
  
    &--bold {
      height: 10px;
    }
  }

  .axis__number {
    bottom: -22px;
    &--bold {
      font-size: 15px;
      line-height: 1.22;
    }
  }

  .axis__arc-arrow {
    &--animate {
      transform: rotate(113deg);
    }
  }
}
